header {
    height: 100vh;
    padding-top: 2rem;
    overflow: hidden;
    margin-bottom: 0;
}

.header_container {
    text-align: center;
    position: relative;
}


/*---CTA---*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1rem;
    justify-content: center
}


/*---Socials---*/

.header_Socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    padding-top: 10rem;
}

.header_Socials::after {
    content: "";
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}


/*---Me---*/

.me {
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}


/*---Scroll Down---*/

.scroll_Down {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    right: -3rem;
    padding-top: 15rem;
}

#scroll_Name {
    transform: rotate(90deg);
}

#scroll_Arrow {
    padding: 1rem;
}


/*---Medium devices---*/

@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }
}


/*---Small Devices---*/

@media screen and (max-width:600px) {
    header {
        height: 100vh;
    }
}